mail-parser
pydantic
sqlalchemy
pytest
Pillow
python-magic
python-magic-bin; platform_system == 'Windows'
pdf2image
python-dotenv
streamlit
streamlit-drawable-canvas
duckdb
xlsxwriter
watchdog
openai
pytest-playwright
playwright
